{{>header}}
<section class="container my-4">
    <form method="POST">
        
        <div class="mb-3">
            <input type="text" name="name" placeholder="Name" class="form-control">
        </div>
        
        <div class="mb-3">
            <input type="date" name="date" placeholder="" class="form-control">
        </div>

        <div class="mb-3">
            <input type="text" name="location" placeholder="location" class="form-control">
        </div>        
        
        <div class="mb-3">
            <button class="btn btn-success">add operation</button>
        </div>
    </form>
</section>

{{>footer}}